:root{
  --text-margin: 3rem;
}

#navbar{
  padding-left: var(--text-margin);
  padding-right: var(--text-margin);
}

.page-title{
  padding-top: 1rem; /* matches default padding around hr element */
}

.text-content{
  padding: 0 var(--text-margin);
}